{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block body %}

<h1 class="text-3xl mb-3">Forgot password</h1>

<div class="container mx-auto py-16">

    {{ form_start(passForm) }}
    {{ form_row(passForm.password) }}
    <button type="submit" class="text-white bg-blue-500 hover:bg-blue-700 p-2 my-3">Send</button>
    {{ form_end(passForm) }}

</div>

{% endblock %}