{% extends "base.html.twig" %}

{% block title %}
Page non trouvé
{% endblock title %}

{% block body %}
<div class="container mx-auto">
    <h1 class="text-3xl">Page non trouvé</h1>
    <p>La page que vous recherchez n'a pas été trouvée</p>
</div>
{% endblock body %}